<h4><%= link_to cohort.name, cohort_path(cohort) %> - <%= cohort.users.count %> Flatirons 

  <%= link_to 'edit', edit_cohort_path(cohort) %> 
  <%= link_to 'delete', cohort_path(cohort), method: 'delete' %>
</h4>
