<div class="row">
  <div class="col-md-4">
    <h3>Create a New Cohort</h3>
    
    <%= render 'form' %>
  </div>

  <div class="col-md-8">
    <h3>All Cohorts</h3>

    <%= render @cohorts %>
  </div>
</div>
