<li>
  <%= link_to blog.feed.title, blog.url %>
  <p>
    <%= link_to blog.most_recent_entry.title, blog.most_recent_entry.url %> - <%= blog.most_recent_entry.published.strftime("published on %m/%d/%Y") %>
  </p>
</li>

