<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h4>Hi, <%= @user.first_name_or_github_name %>! Here are your assigned blog due dates for <%= @schedule.name %>.</h4>
    <div class="row">
      <ul>
        <% @blog_assignments.each do |assignment| %>
          <li><%= assignment.due_date.strftime("%A, %m/%d") %></li>
        <% end %>
      </ul>
    </div>
    <br>

    <div class="row">
      Log in to <a href="https://flatiron-blogger.herokuapp.com">Flatiron Blogger</a> to see your schedule and progress, add or change your blog url, and check out the magazine to see what other Flatirons have written about!
    </div>
    <br>

    <div class="row">
      Happy Blogging!
    </div>
    <br>

    <div class="row">
      // &lt;3,
    </div>
    <br>
    
    Your Flatiron School Instructors

  </body>
</html>

