<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h4>
      Hi, <%= @user.first_name_or_github_name %>! Don't forget you're presenting a blog post tomorrow, <%= @user.remaining_blog_assignments.first.due_date.strftime("%A, %m/%d") %>. Be ready to present by 9am!
    </h4>
    <br>

    <div class="row">
      Your upcoming blog posts:
      <ul>
        <% @user.remaining_blog_assignments.each do |blog_assignment| %>
        <li>
          <%= blog_assignment.due_date.strftime("%A, %m/%d") %>
        </li>
        <% end %>
      </ul>
    </div>
    <br>

    <div class="row">
      Log in to <a href="https://flatiron-blogger.herokuapp.com">Flatiron Blogger</a> to see your schedule and progress, add or change your blog url, and check out the magazine to see what other Flatirons have written about!
    </div>
    <br>

    <div class="row">
      Happy Blogging!
    </div>
    <br>

    <div class="row">
      // &lt;3,
    </div>
    <br>
    
    Your Flatiron School Instructors

  </body>
</html>
