<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>
      Hi, <%= @user.first_name_or_github_name %>! Don't forget you're presenting a blog post tomorrow.
    </h4>

    <br>

    Your upcoming blog posts:
    <ul>
      <% @user.remaining_blog_assignments.each do |blog_assignment| %>
      <li>
        <%= blog_assignment.due_date.strftime("%A, %m/%d") %>
      </li>
      <% end %>
    </ul>
    <br>
    Happy Blogging!
    <br>
    <br>
    // &lt;3,
    <br>
    <br>
    Your Flatiron School Instructors
  </body>
</html>
