<div class="jumbotron text-center">
  <h1>Welcome to Flatiron Blogger</h1>
  <% if current_user %>
    <%= link_to 'Go To Your Profile', user_path(current_user), class: "btn btn-success btn-large" %>
  <% else %>
    <%= link_to 'Sign In With Github', login_path, class: "btn btn-success btn-lg" %>
  <% end %>
</div>
