.progress-bar {
  background-image: none;
  background-color: #29CE5A;
}

.masonry-style-row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
}

.menu-category {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  max-width:  95%; 
  max-height: 400px; 
  overflow:auto;
}

.lightblue {
  color: lightblue;
}

.normalfont {
  font-size: 1em;
}

.green {
  color: #29CE5A;
}

.red {
  color: red;
}

.large-font {
  font-size: 2em;
}

#add-blog {
  font-size: 0.8em;
  padding-top: 25px;
}

#hidden-blog-form {
  display: inline-block;
}

#hidden-blog-form input {
  height: 33px;
  font-size: 0.8em;
  vertical-align: middle;
}

.extra-margin-bottom {
  margin-bottom: 15px;
}

.extra-margin-right {
  margin-right: 5px;
}

#edit-or-delete-user {
  width: 120px;
}

.post-title {
  white-space: normal;
}

.inline {
  display: inline;
}

.small-field {
  width: 10%;
}

.small-input {
  width: 70% !important;
}
